/*======== GOOGLE FONTS ========*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

/*======== VARIABLES ========*/
:root {
    --mobile: 375px;
    --desktop: 1440px;

    /* Primary */
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

/*======== BASE ========*/
body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--violet);
    color: white;
}

h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
}

/*======== MAIN CLASSES ========*/
.logo {
    width: 50%;
}

.button {
    background-color: white;
    border: none;
    color: var(--violet);
    padding-block: .7rem;
    padding-inline: 6rem;
    border-radius: 10rem;
    font-family: 'Poppins', sans-serif;
    margin-block: .5rem;
    transition: .3s;
}

.button:hover {
    background-color: var(--soft-magenta);
}

.icons i {
    font-size: 1.2rem;
    border: 1px solid white;
    padding-block: 3px;
    padding-inline: 8px;
    border-radius: 10rem;
    cursor: pointer;
    transition: .3s;
}

.icons i:hover {
    color: var(--soft-magenta);
    border-color: var(--soft-magenta);
}

@media screen and (min-width: 768px) {
    body {
        background-image: url(images/bg-desktop.svg);
    }

    .logo {
        width: 15%;
    }
}









.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }